<span class='checkbox-option' >

  <input
		type='checkbox'
		id='<%= klass %>'
		name="<%= name %>"
		class='<%= klass %>'
		value='<%= value %>'
		<% if(checked) { %>
			<%= 'checked' %>
		<% } %>
		>

  <label
		for='<%= klass %>'
		><span
		  class='<%= klass %>-label'><%= value %></span></label>

</span>