<span class='radio-option'>

  <input type='radio' name='<%= label %>' id='name' value='<%= value %>' class='<%= name %>'>

  <label for='<%= name %>' class='<%= name %>-label'><%= optionName %></label>

</span>