<span class='radio-option'>

  <input
		type='radio'
		id='<%= klass %>'
		name='<%= name %>'
		class='<%= klass %>'
		value='<%= value %>'>

  <label
		for='<%= klass %>'
		class='<%= klass %>-label'><%= (value || "Option name") %></label>

</span>