<div class='checkbox-option-config'>
  <h3 class='checkbox-option-title'>Option <%= i + 1 %></h3>
  <button class='delete-button delete-option' name='<%= klass %>'>Delete</button>

  <br>

  <label
      style="display: inline-block"
  >Name
    <input type='text'
      name='<%= klass %>'
      data-attribute='value'
			class='option-name'
      value='<%= optionName %>'>
  </label>

	<label>
	  <input
	    type='checkbox'
	    class="prefilled-check"
			name='<%= klass %>'
	    <% if(checked) { %>
	      <%= 'checked' %>
	      <% } %>
	    />
	  Prefilled check
	</label><br>

</div>
