<div id="numbox-sidebar">

  <h3>Customize your Number box</h3>

  <table>
    <tr>
      <td>
        <label>Label:</label>
      </td>
      <td>
        <input type='text'
          onClick="$(this).select()"
          name='.numbox-label'
          value='<%=$field.find('.numbox-label').text()%>'>
      </td>
    </tr>

    <tr>
      <td>
        <label>Minimum Value:</label>
      </td>
      <td>
        <input
          type='number'
          data-attribute='min'
          value='<%= $field.find('.numbox').attr('min') %>'
          name='.numbox'/>
      </td>
    </tr>

    <tr>
      <td>
        <label>Maximum Value:</label>
      </td>
      <td>
        <input
          type='number'
          data-attribute='max'
          value='<%= $field.find('.numbox').attr('max') %>'
          name='.numbox'/>
      </td>
    </tr>

    <tr>
      <td>
        <label>Prefilled content:</label>
      </td>
      <td>
        <input
          type='number'
          onClick="$(this).select()"
          data-attribute='value'
          value='<%= $field.find('.numbox').val() %>'
          name='.numbox'/>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          <input
            type='checkbox'
            name='.requiredCheckbox'
            <% if($field.hasClass('required')) { %>
              <%= 'checked' %>
              <% } %>
          />
            Required Field
        </label>
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>