<div class='radio-option-config'>
  <h3 class='radio-option-title'>Option <%= i + 1 %></h3>
  <button class='delete-button delete-option' name='<%= klass %>'>Delete</button>

  <br>

  <label
    style="display: inline-block"
  >Name
    <input
      type='text'
      value='<%= optionName %>'
      name='<%= klass %>-label'/><br>
  </label>

  <br>

  <label
      style="display: inline-block"
  >Value
    <input type='text'
      name='<%= klass %>'
      data-attribute='value'
      value='<%= value %>'>
  </label>

</div>
