
<div id="textbox-sidebar">

<h3>Customize your Textbox</h3>

  <table>
    <tr>
      <td>
        <label>Label:</label>
      </td>
      <td>
        <input type='text'
          name='.textbox-label'
          onClick="$(this).select()"
          value='<%= $field.find(".textbox-label").text() %>'>
      </td>
    </tr>

    <tr>
      <td>
        <label>Width:</label>
      </td>
      <td>
        <input
          type='number'
          min='1'
          max='999'
          data-attribute='size'
          value='<%= $field.find(".textbox").attr("size") %>'
          name='.textbox'/>
      </td>
    </tr>

    <tr>
      <td>
        <label>Max number of characters:</label>
      </td>
      <td>
        <input
          type='number'
          min='1'
          max='999'
          data-attribute='maxlength'
          value='<%= $field.find(".textbox").attr("maxlength") %>'
          name='.textbox'/>
      </td>
    </tr>

    <tr>
      <td>
        <label>Prefilled content:</label>
      </td>
      <td>
        <input
          type='text'
          data-attribute='value'
          value='<%= $field.find(".textbox").val() %>'
          onClick="$(this).select()"
          name='.textbox'/>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          <input
            type='checkbox'
            name='.requiredCheckbox'
            <% if($field.hasClass('required')) { %>
              <%= 'checked' %>
              <% } %>
          />
            Required Field
        </label>
      </td>
    </tr>
  </table>
</div>
