<div
  class='message-box form-code group'
  style='text-align: left; width: 500px;'>

  <h2>Code for "<%- form.get('name') %>"</h2>

  <p>You can host your form on Form-itable.com or you can host it on your own website.  Either way, when someone submits the form the results will be posted to your account here at Form-itable.com and your users will be redirected to the url you assigned for this form.</p>

  <h3>If you would like Form-itable.com to host the form:</h3>

  <label>
    Here is the url that will link to your form
    <br>
    <input
      type='text'
      onClick="$(this).select()"
      size='80'
      readonly
      value="http://form-itable.com/forms/<%- form.get('id') %>">
  </label>
  <br>
  <br>
  Here is a link to your form that you may copy and paste
  <br>

  <a
    class='form-link'
    href=<%- 'http://' + document.location.host + '/forms/' +
      form.get('id') %>
    ><%- form.get('name') %></a>


  <br>

  <h3>If you would like to host the form yourself:</h3>

  <form
    method='get'
    action=<%- 'http://' + document.location.host + '/forms/' +
        form.get('id') + '?download=true'%>
    >

    <input type='hidden' name='download' value='true'>

    <input
      type='submit'
      value="Download <%- form.get('name') %> as a webpage">

  </form>

  <br>

  <label>
    Or you can copy the form HTML from here
    <br>
      <textarea
        class='formcode-textarea'
        onClick="$(this).select()"
        style='width: 500px; height: 300px; background-color: white;'>
  </label>
  <br>
</div>