<div class='page-title-box'>
  <h1 class='page-title'>Form Manager</h1>
</div>

<button id='create-form-button'>Create a new Form!</button>

<%forms.each(function(form){ %>
  <div class="form-summary">

    <a href="#forms/<%= form.get('id') %>/edit">
      <%= form.get('name') %>
    </a>

    <div class="form-links group hidden">
      <ul>
        <li><a href="#forms/<%= form.get('id') %>/edit">Edit</a></li>
        <li><a href="#forms/<%= form.get('id') %>">View</a></li>
        <li>Results</li>
        <li>Notifications</li>
        <li>Code</li>
				<li>
			    <button 
					  class='duplicate-form'
					  data-id="<%= form.get('id') %>"
						>Duplicate</button>
			  </li>
        <li>
					<button
            data-id="<%= form.get('id') %>"
            class='delete-form'
          >Delete</button>
        </li>
      </ul>
    </div>
  </div>
<% }) %>