<!DOCTYPE html>
<html>
<head>
  <title>Form-itable</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
  <script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
  <script src="/assets/underscore.js?body=1" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='flash-msgs'>
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <%= content_tag :div, msg, {id: "flash_#{name}", class: "notice"} %>
      <% end %>
      <% if msg.is_a?(Array) %>
      <% msg.each do |message| %>
        <%= content_tag :div, message, {id: "flash_#{name}", class: "notice"} %>
      <% end %>
      <% end %>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
