
  <%= stylesheet_link_tag    "forms", :media => "all" %>
<header>
  <a href="<%= root_url %>" class='corner-logo'>
    <div class= 'corner-logo-box'>
      <h1 id='corner-logo-part1'>Form</h1>
      <div class='corner-logo-box2'>
        <h1 id='corner-logo-part2'>-itable</h1>
        <div class='blinking-cursor'></div>
      </div>
    </div>
  </a>
  <nav class='nav-bar'>
    <ul>
      <li><a href="#" >Form Manager</a></li>
      <li><a href="#reports" >Reports</a></li>
      <li><a href="#account" >Account</a></li>
      <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete)%></li>
    </ul>
  </nav>

  <div class='backbone-flash-msgs group'>
    <div class='my-flash'>
       <h2>Testing!!</h2>
    </div>
  </div>

</header>
<main>
  <div class='backbone-render'>
  </div>
</main>

<script type="application/json"
  id="bootstrapped_form_json"
  data-account-id="<%= @account.id %>">
  <%= @forms.to_json.html_safe %>
</script>

<script>
$(function(){
  var $bootstrap = $('#bootstrapped_form_json');
  window.ACCOUNT_ID = $bootstrap.data('accountId');
  var forms = JSON.parse($bootstrap.html());
  console.log(forms);

  window.AFB.initialize($('.backbone-render'), forms)

  $(window).scroll(function(){
    var $header = $('header');
    var widthDifference = $header.outerWidth() - $(this).outerWidth();
    if (widthDifference > 1) {
      var scroll = $(this).scrollLeft();
      if (Math.abs(scroll) < widthDifference)
      $header.css('left', 0 - scroll);
    }

    $sidebar = $('.sidebar_window');
    $sidebar && $sidebar.css('top', $(this).scrollTop());
  });

  $(window).resize(function(){
    $('header').css('left', 0);
  });

});
</script>